@media (max-width: 767px) {
    .navbar .navbar-collapse {
        /* display: none; */
        width: 100%;
        position: fixed;
        overflow: auto;
        /* background:  rgb(74, 41, 92); */
        color: #fff !important;x
        /* text-align: center; */
        /* padding: 10px 0 0 100px; */
        /* transition: background 0.2s ease, color 0.2s ease, padding 0.2s ease; */
        /* align-items: center; */
    }

    .nav-scroll .navbar-collapse {
        /* background: #fff !important; */
    }
    
    #contact_form {
        margin-bottom:5px;
    }

    .nav-scroll .navbar-brand img, .navbar-brand img {
        transform: scale(1) !important;
        -webkit-transform: scale(1) !important; /* 스케일을 동일하게 설정 */
        max-width: 100px; /* 이미지 크기 고정 */
    }
    
    .banner-text {
        padding: 20px 5px; /* 상하 20px, 좌우 10px */
        margin: 20px 10px; /* 상하좌우 10px */
        font-size: 18px; /* 글씨 크기 조정 */
    }
        h1 {
            font-size: 2px; 
            margin: 3px 0; /* 상하 여백 추가 */
        }
    
        h2 {
            /* font-size: 12px; 적절한 크기로 수정 */
            /* margin: 10px 0; 상하 여백 추가 */
        }
    
        h3 {
            /* font-size: 10px; */
            /* margin: px 0; 상하 여백 추가 */
        }
    
    .section-padding {
            padding: 60px 1px; /* 상하 40px, 좌우 15px */
        }
    
    .banner-text p {
            margin: 00px 0; /* 글씨 주변 여백 수정 */
            font-size: 16px; /* 텍스트 크기 조정 */
        }
    .banner-text ul li a img {
        width: 120px;
        border-radius: 10px;
    }
    .sectioner-header {
        width: 100%;
        padding: 0px 0px;
    }
    .sectioner-header p {
        font-size: 14px;
    }
    .sectioner-header-2 p {
        font-size: 17px;
    }
    .about-btn {
        padding: 5px 30px;
        margin-top: 0px;
        font-size: 16px;
    }
    .single-feature {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .team-detail {
        margin-top: 20px;
    }
    .team-detail img {
        width: 50%;
    }
    .bx-controls
    {
        display:none;
    }
    .bx-wrapper {
        margin: 0px 20px !important;
    }
    .slider .test-img img {
        margin: 0 auto;
    }
    .test-img {
        float:none;
        width: 200px;
        height: 200px;
        margin: 0 auto;
    }
    .test-text {
        float: none;
        width: 100%;
        text-align: center;
        /* text-align: center; */
    
    }
    
    .section-content {
        /* margin-top: 10px; */
        align-items: center;
        /* padding: 0 101 0 */
    }
    .faq-content {
        margin: 10px 0px;
    }
    .faq-content h4 {
        font-size: 16px;
    }
    .faq-content p {
        font-size: 13px;
    }
    #contact_form {
        margin-bottom:20px;
    }
    .contact-item {
        font-size: 12px;
    }
    .download ul li a img {
        width: 120px;
    }
    .footer-copy p {
        font-size: 5px;
    }
    }
    




@media (max-width: 767px) {
    * {
    padding:0;
	margin:0;
	font-family: 'Pretendard', sans-serif;
    }

    body {
        font-size: 14px;
    }

    h1 {
        font-size: 10px;
    }
}

@media (min-width: 768px) {
	.web-banner {
		display: block !important;
	}
}
@media (max-width: 767px) {

	.mobile-banner {
	  display: block !important;
	}
  }
