* {
	padding:0;
	margin:0;
	font-family: 'Pretendard', sans-serif;
	
}
/* .col-md-14 {
	margin: 30px auto 30px auto;
} */

.col-sm-12 {
	margin: 5px 0px auto 0px; 
	align-items: center;
}
/* .col-md-12 p {
	text-align: left;
	font-size:;
} */
/* .container {
	margin: 30px auto 30px auto;
	padding: 30px auto 30px auto;
} */
/* <body>

	<style>
        body {
            font-family: 'Pretendard', sans-serif;
            background-color: #f9f9f9;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        .pricing-container {
            display: flex;
            gap: 20px;
        }

        .pricing-card {
            background: #fff;
            border: 1px solid #e0e0e0;
            border-radius: 8px;
            text-align: center;
            padding: 20px;
            width: 300px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .pricing-card h3 {
            font-size: 24px;
            color: #818992;
            margin: 10px 0;
        }

        .pricing-card h1 {
            font-size: 48px;
            color: #000;
            margin: 10px 0;
        }

        .pricing-card ul {
            list-style: none;
            padding: 0;
            margin: 20px 0;
        }

        .pricing-card ul li {
            font-size: 16px;
            color: #333;
            margin: 10px 0;
        }

        .pricing-card button {
            background: #f04747;
            color: #fff;
            border: none;
            border-radius: 4px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            transition: background 0.3s;
        }

        .pricing-card button:hover {
            background: #c68b8b;
        }
	</style>
</body> */

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
  }
  
.media {
	/* background-color: #f9f9f9; 박스 배경색 */
	/* border: 1px solid #ddd; 박스 테두리 */
	/* border-radius: 5px; */
	padding: 15px;
	margin: 10px 0; /* 위아래 간격 */
	text-align: left; /* 텍스트 중앙 정렬 */
	height: 130px; /* 박스 높이 고정 */
	display: flex;
	flex-direction: column;
	justify-content: center;
  }


  
.feature-mobile {
	display: flex; /* Flexbox로 설정 */
	justify-content: center; /* 수평 가운데 정렬 */
	align-items: center; /* 수직 가운데 정렬 */
	flex-direction: column; /* 요소를 수직 방향으로 배치 */
	padding: 20px 0 20px; /* 위, 아래 여백 추가 */
	height: 100%; /* 부모 높이에 맞춤 */
	margin: 0 0 40px 0;
  }
  
.feature-mobile img {
	max-width: 100%; /* 이미지 크기 제한 */
	height: auto; /* 이미지 비율 유지 */
	margin: 0 auto; /* 여백 초기화 */
  }
  

body {
	font-family: 'Pretendard', sans-serif;
	font-size: 14px;
}
a {
	color:#100F16;
}
a:hover {
	color:#100F16;
}
h1, h2 {
	font-family: 'Pretendard', sans-serif;
	font-weight: 700;
	font-size: 45px
}

h3 {
	font-family: 'Pretendard', sans-serif;
	font-weight: 700;
	font-size: 35px
}

h4 {font-family: 'Pretendard', sans-serif;
	font-weight:550;
	font-size: 28px
}

h5 {
	font-family: 'Pretendard', sans-serif;
	font-weight:600;
	font-size: 25px
}
h6 {
	font-family: 'Pretendard', sans-serif;
	font-weight:530;
	font-size: 20px;
	/* margin: 0px 0px 10px; */

}
.white {
	color:#ffffff !important;
	font-family: 'Pretendard', sans-serif;
	font-size: 16px;
	/* margin: 0 auto 0 auto; */
}
.black {
	color:#000000;
}

.navbar {
	position: fixed;
	right: 0;
	left: 0;
	width: 100%;
	padding-left: 30px;
	padding-right: 0;
	min-height: 50px;
	line-height: 50px;
	background: #100F16;
	transition: background 0.3s ease, color 0.3s ease;
	z-index: 1030;
}
.navbar .active {
	color: #5786FF !important;
}
.navbar .navbar-brand {
	max-width: 100px;
}
.navbar .navbar-brand img {
	-webkit-transform: scale(1); /* 초기 크기를 명시적으로 설정 */
	transform: scale(1);
	transition: none; /* 새로고침 시 애니메이션 방지 */
	max-width: 120px; /* 크기를 고정 */
}


.navbar .nav-item {
	margin: 10px 6px;
	padding: 0;
	
}
.navbar .nav-item a {
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 13px;
	font-family: 'Pretendard', sans-serif;
}
.navbar .nav-item a:hover {
	color: #5786FF;
}
.navbar .nav-link {
	position: relative;
	padding: 0;
}
.navbar .navbar-toggler {
	cursor: pointer;
}
.navbar .navbar-toggler span {
	color: #5786FF;
}
.navbar-style2 .active:after, .navbar-style2 .nav-link:after {
	/* display: none; */
	color:#100F16;
}
.nav-scroll {
	background: #100F16;
	-webkit-box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.0509803922);
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.nav-scroll .navbar-nav > li > a {
	color: #fff;
}
.navbar-brand img {
    width: 120px; /* 고정된 너비 */
    height: auto; /* 비율 유지 */
    transition: none; /* 애니메이션 제거 */
}

.nav-scroll .navbar-brand img {
    width: 120px; /* 스크롤 시에도 동일한 크기 */
    height: auto; /* 비율 유지 */
}
.nav-scroll .navbar-toggler {
	cursor: pointer;
	position: fixed;
}
.nav-scroll .navbar-toggler span {
	color: #5786FF;
	
}
.nav-scroll .nav-link:hover:after {
	background-color: #5786FF;
}
.nav-scroll .active {
	position: relative;
}
.banner {
	background: #100F16;
	/* background: linear-gradient(to right, #191627, #100F16); */
	padding:130px 0px 120px 0px;
	position:relative;
}
.banner::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/* background: url(images/pattern.png); */
}
/* .banner a.weblink {
	color:#ffffff;
	border-bottom:1px dotted #5786FF;
} */
.banner a:hover {
	text-decoration:none;
}
.svg-wave {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.banner-text {
	padding-right: 0;
	margin:45px 20px 0px;
}
.banner-text p {
	margin:30px 0px;
}
.banner-text ul {
	list-style: none;
}
.banner-text ul li {
	display: inline-block;
	margin: 10px 15px 0px 0px;
}
.banner-text ul li a {
	display: block;
}
.banner-text ul li a img {
	width: 100px;
	border-radius: 7px;
}

.prelative {
	position:relative
}
.section-padding {
	padding: 40px auto 40px auto; 
	
}
.sectioner-header-1 {
	width:69%;
	margin: 40px auto 40px auto;
	padding:40px auto 100px auto; 
}
.sectioner-header-2 {
	width:69%;
	margin: 65px auto 40px auto;
	padding: 40px auto 10px auto; 
}


.line {
	height: 2px;
	width: 50px;
	background: #376FFF;
	display: block;
	margin: 20px auto 20px;
}
.line::after {
	content:"";
	position: absolute;
	left: 50%;
	width: 150px;
	height: 2px;
	border-bottom: 2px dashed #376FFF;
	margin-left: -75px;
}
.sectioner-header p {
	color:#818992;
	font-size: 17.5px;

}
.sectioner-header-1 p {
	color:#818992;
	font-size: 17px;

}
.sectioner-header-2 p {
	color:#818992;
	font-size: 17px;
	padding: 10px auto 20px auto;

}
.section-content {
	margin: 0px 10px 5px 10px ;
}
.section-content a{
	padding-left: 8px;
	padding-right: 8px
}
.icon-box {
	margin-bottom:50px;
	margin: auto 100;
}
.icon-box i {
	display: block;
	position: relative;
	width: 135px;
	height: 135px;
	border-radius: 100px;
	background: #100F16;
	/* background:  linear-gradient(to left, #100F16, #100F16); */
	color: #ffffff;
	font-size: 50px;
	line-height: 135px;
	margin: 0 auto;
}
.icon-box h5 {
	margin-top:30px;
}
.icon-box p {
	color: #818992;
	font-size: 14px;
	width: 99%;
	margin: 0 10;
	text-align: center;
}
.about-btn {
	color: #376FFF;
	padding: 10px 40px;
	border: 2px solid #376FFF;
	border-radius: 7px;
	margin-top: 30px;
	display: inline-block;
	font-size: 18px;
}
.about-btn:hover {
	background:#376FFF;
	color:#ffffff;
	text-decoration:none;
}
.video-section {
	/* background: url(images/video-bg.png) no-repeat fixed center; */
	/* background: url(images/pattern.png); */
	background-size: cover;
	overflow: hidden;
}
.video-overlay {
	background: linear-gradient(to left, #100F16, #100F16);
}
.video-section h3 {
	font-weight: 600;
	font-size: 38px;
}
.video-section i {
	display: block;
	position: relative;
	width: 70px;
	height: 70px;
	border-radius: 100px;
	background: #ffffff;
	color: #376FFF;
	font-size: 30px;
	line-height: 70px;
	margin: 0 auto;
	cursor:pointer;
}
.video-popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background: rgba(0, 0, 0, 0.5);
	display: none;
	align-content: center !important;
	-ms-flex-line-pack: center !important;
	-ms-flex-align: center !important;
	align-items: center !important;
	-ms-flex-pack: center !important;
	justify-content: center !important;
}
.video-popup .video-src {
	position: relative;
	width: 700px;
	max-width: 80%;
}
.video-popup .iframe-src {
	width: 100%;
	height: 0;
	padding-top: 110px;
	position: relative;
	display: none;
}
.video-popup .iframe-src iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
  
/* .media-left {
	margin-right: 15px; 아이콘과 텍스트 간의 간격
  } */
/*   
.media-left img {
	height: 50px; 아이콘 크기
  } */
  
.media-content h5 {
	margin: 0 0 0px 0; /* 제목의 간격 조정 */
	align-items: left;
	font-size: 14px;
  }
  
.media-content p {
	margin: 10px; /* 텍스트 여백 제거 */
	align-items: left;
	font-size: 10px
  }

.icon-border {
    display: flex; /* 추가: 이미지를 정렬하는 데 필요 */
    align-items: center; /* 추가: 수직 가운데 정렬 */
    justify-content: center; /* 추가: 수평 가운데 정렬 */
    width: 60px; /* 적절한 크기로 설정 */
    height: 60px;
    margin: 10 10 10 10; /* 가운데 정렬 */
}
 


.icon-border span {
	display: block;
	position: relative;
	width: 50px;
	height: 50px;
	border-radius: 100px;
	color: #376FFF;
	font-size: 18px;
	line-height: 50px;
	border: 1px solid #376FFF;
}

.pricing-container {
	font-family: 'Pretendard', sans-serif;
    display: flex;
    gap: 20px;
}

.pricing-card {
    background: #fff;
    border: 1px solid #d1d9e6; /* 조금 더 강조된 테두리 색상 */
    border-radius: 12px; /* 더 부드러운 모서리 */
    text-align: center;
    padding: 20px;
    width: 240px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.1); /* 더 깊은 그림자 */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pricing-card:hover {
    transform: translateY(-10px); /* 약간 위로 떠오르는 효과 */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3), 0 2px 5px rgba(0, 0, 0, 0.2); /* 더 강한 그림자 */
}

.pricing-card h3 {
    font-size: 23px;
    color: #818992;
	margin: 5px auto 20px auto;
	padding: 5px auto 5px auto;
}

.pricing-card h1 {
    font-size: 27px;
    color: #000;
    margin: 10px auto 10px auto;
	padding: 5px auto 5px auto;
}

.pricing-card ul {
    list-style: none;
    padding: 2px auto 0px auto;
    /* margin: 4px auto 0px auto; */
}

.pricing-card ul li {
    font-size: 15px;
	font-weight: 450;
    color: #000;
    margin: 15px auto 0px auto;
	padding: 10px auto 0px auto;
	text-align: center; /* 추가: 수직 가운데 정렬 */
	justify-items: center;

}

.button a {
    display: inline-block;
    margin-top: 18px;
    padding: 10px 20px;
    background: #27254e;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
    cursor: pointer;
    text-align: center;
	
}

.button a:hover {
	background: #2c55bd !important; /* Hover 효과 */
}

.team {
	background: #fafafa;
	border-top: 1px solid #e4e4e4;
}
.team-detail {
	margin-top:50px;
	margin-bottom: 50px;
}
.team-detail img {
	border-radius: 50%;
	width: 75;
}
.team-detail h4 {
	color:#376FFF;
	margin-top: 20px;
	font-size: 17px;
	margin-bottom: 0px;
}
.testimonial {
	background: #100F16;
	padding: 60px 0px 60px 0px;
	position:relative;
}
.testimonial::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/* background: url(images/pattern.png); */
}
.bx-prev {
	left: -90px !important;
	background: url(images/arrow-left.png) no-repeat !important;
	background-size: auto auto !important;
	background-size: 100% 100% !important;
}
.bx-next {
	right: -90px !important;
	background: url(images/arrow-right.png) no-repeat !important;
	background-size: auto auto !important;
	background-size: 100% 100% !important;
}
.bx-wrapper {
	border: none !important;
	background: rgba(255, 255, 255, 0.81) !important;
	border-radius: 5px !important;
	box-shadow:none !important;
	margin: 20px 10px 10px 10px;
}
.slider-item {
	padding:20px;
}
.slider .test-img img {
	border: 0px solid #fff;
	border-radius: 50%;
	width: 90%;
	height: auto;
	/* justify-content: center !important;
	align-items: center;  */
}
.test-img {
	float: left;
	/* justify-content: center !important;
	align-items: center; */
	width: 19%;
	margin-left: 1%;
	padding-top: 1%;
	margin-right:1%;
}
.test-text {
	float: center;
	width: 100%;
}

.test-text p {
	padding: 0 0;
	margin: 5px 15px 5px 5px
}
.slider .title {
	display: block;
	position: relative;
	margin: 5px 0 18px;
	font-size: 1.3em;
	line-height: 1.25;
	font-family: 'Pretendard', sans-serif;
}
.slider .title span {
	display: block;
	font-size: 1.5em;
	font-weight: 700;
	font-family: 'Pretendard', sans-serif;
	margin: 0px;
}
.faq {
	background: #fafafa;
	border-bottom: 1px solid #e4e4e4;
}
.faq-content {
	margin: 20px 0px;
}
.faq-content h4 {
	font-weight: 400;
	font-size: 20px;
	font-family: 'Pretendard', sans-serif;
}
.faq-content p {
	color: #818992;
	font-weight:300;
	margin-top:15px;
	font-family: 'Pretendard', sans-serif;
}
#contact_form .form-input {
	border: 1px solid #e4e4e4;
}
input {
	height: 42px;
	padding: 0 1rem;
	background: #fff;
	border-radius: 30px;
	margin-bottom: 1rem;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border:0;
}
#contact_form textarea {
	resize: none;
	padding: 1rem;
	height: 150px;
	background: #fff;
	border: 0;
	border-radius: 30px;
	margin-bottom: 1rem;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.btn-grad {
 padding: .7rem 2rem;
	display: inline-block;
	color: #fff;
	border-radius: 2rem;
	border: 0;
	background: #100F16;
	cursor:pointer;
}
.contact-info {
	padding: 20px 2rem 2rem 40px;
	border-radius: 8px;
	background: #100F16;
	background: linear-gradient(to right, #100F16, #100F16);
	gap: 20px;
}
.contact-container {
	background-color: #100F16; /* 배경색 */
	color: #ffffff; /* 텍스트 색상 */
	padding: 30px 20px;
	border-radius: 10px; /* 둥근 모서리 */
	width: 320px; /* 컨테이너 너비 */
  }
  
.contact-item {
	display: flex;
	align-items: flex-start; /* 아이콘과 텍스트를 수평 중앙 정렬 */
	margin-bottom: 20px; /* 항목 간 간격 */
	/* padding: auto 50px auto 30px; */
	gap: 6px;
  }
  
.contact-item:last-child {
	margin-bottom: 0; /* 마지막 항목 간 간격 제거 */
  }
  
.contact-item i {
	width: 30px; /* 아이콘 고정 너비 */
	height: 30px; /* 아이콘 고정 높이 */
	font-size: 22px; /* 아이콘 크기 */
	color: #ffffff; /* 아이콘 색상 */
	display: flex;
	justify-content: center; /* 아이콘을 가운데 정렬 */
	align-items: center;
	margin-right: 20px; /* 아이콘과 텍스트 간 간격 */
	margin-left: 10px;
  }
  
.contact-text {
	display: flex;
	flex-direction: column; /* 텍스트를 세로 정렬 */
	align-items: flex-start; /* 텍스트를 왼쪽 정렬 */
	text-align: left; /* 내부 텍스트도 왼쪽 정렬 */
  }
  
.contact-text p {
	font-size: 14px; /* 제목 글씨 크기 */
	line-height: 1.5; /* 텍스트 간격 조정 */
	margin: 0; /* 불필요한 여백 제거 */
	text-align: left; /* 텍스트 정렬 */
	color: #ffffff; /* 제목 텍스트 색상 */
  }
  
.contact-text span {
	font-size: 14px; /* 세부 정보 글씨 크기 */
	line-height: 1.5; /* 텍스트 간격 조정 */
	color: #ffffff; /* 세부 정보 텍스트 색상 */
	margin: 0;
  }
  
.contact-text a {
	font-size: 14px; /* 세부 텍스트 글씨 크기 */
	line-height: 1.5; /* 텍스트 간격 조정 */
	color: #ffffff; /* 링크 색상 */
	text-decoration: none; /* 기본 밑줄 제거 */
  }
  
.contact-text a:hover {
	text-decoration: underline; /* 호버 시 밑줄 표시 */
  }


.download {
	background: #100F16;
	padding: 40px 0px;
	position:relative;
}
.download::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/* background: url(images/pattern.png); */
}
.download ul {
	list-style: none;
}
.download ul li {
	display: inline-block;
	margin: 0px 10px 10px 0px;
}
.download ul li a {
	display: block;
}
.download ul li a img {
	width: 150px;
	border-radius: 7px;
}
.footer-copy {
	background: #ffffff;
	color: #242424;
	font-size: 13px;
	text-align: center;
	padding:15px 0px;
}
.footer-copy p {
	margin-bottom:0px;
}

.col-md-13{


}

/* @media * {
	font-family: 'Pretendard', sans-serif;
} */
@media all and (max-width:100%) {
.navbar .navbar-collapse {
	width: 100%;
	position: fixed;
	overflow: auto;
	/* background:  rgb(74, 41, 92); */
	color: #fff !important;
	text-align: center;
	/* padding: 10px 0 0 100px; */
	/* transition: background 0.3s ease, color 0.3s ease, padding 0.3s ease; */
	align-items: center;
}
.nav-scroll .navbar-collapse {
	background: #fff !important;
}

/* element.style {
	height: auto;
	width: 100%;
	align-items: center;
} */

#contact_form {
	margin-bottom:5px;
}
}
@media all and (max-width: 50%) {
    .nav-scroll .navbar-brand img, .navbar-brand img {
        transform: scale(1) !important;
        -webkit-transform: scale(1) !important; /* 스케일을 동일하게 설정 */
        max-width: 100px; /* 이미지 크기 고정 */
	}

    .banner-text {
        padding: 20px 10px; /* 상하 20px, 좌우 10px */
        margin: 10px 10px; /* 상하좌우 10px */
        font-size: 18px; /* 글씨 크기 조정 */
    }
	h1 {
        /* font-size: 28px; 헤딩 크기 적절히 설정 */
        margin: 10px 0; /* 상하 여백 추가 */
    }

	h2 {
        /* font-size: 12px; 적절한 크기로 수정 */
        /* margin: 10px 0; 상하 여백 추가 */
    }

    h3 {
        /* font-size: 10px; */
        /* margin: px 0; 상하 여백 추가 */
    }

    .section-padding {
        padding: 60px 1px; /* 상하 40px, 좌우 15px */
    }

    .banner-text p {
        margin: 00px 0; /* 글씨 주변 여백 수정 */
        font-size: 16px; /* 텍스트 크기 조정 */
    }
.banner-text ul li a img {
	width: 120px;
	border-radius: 10px;
}
.sectioner-header {
	width: 100%;
	padding: 0px 0px;
}
.sectioner-header p {
	font-size: 14px;
}
.sectioner-header-2 p {
	font-size: 17px;
}
.about-btn {
	padding: 5px 30px;
	margin-top: 0px;
	font-size: 16px;
}
.single-feature {
	margin-bottom: 20px;
	margin-top: 20px;
}
.team-detail {
	margin-top: 20px;
}
.team-detail img {
	width: 50%;
}
.bx-controls
{
	display:none;
}
.bx-wrapper {
	margin: 0px 20px !important;
}
.slider .test-img img {
	margin: 0 auto;
}
.test-img {
	float:none;
	width: 200px;
	height: 200px;
	margin: 0 auto;
}
.test-text {
	float: none;
	width: 100%;
	text-align: center;
	/* text-align: center; */

}

.section-content {
	/* margin-top: 10px; */
	align-items: center;
	/* padding: 0 101 0 */
}
.faq-content {
	margin: 10px 0px;
}
.faq-content h4 {
	font-size: 16px;
}
.faq-content p {
	font-size: 13px;
}
#contact_form {
	margin-bottom:20px;
}
.contact-item {
	font-size: 12px;
}
.download ul li a img {
	width: 120px;
}
.footer-copy p {
	font-size: 5px;
}
}

.video-section t img {
	background-image: "images/video-m.png";
}

body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: hidden; 
}
