* {
	padding:0;
	margin:0;
}


body {
	font-family: 'Pretendard', sans-serif;
	font-size: 14px;
}
a {
	color:#100F16;
}
a:hover {
	color:#100F16;
}
h1, h2, h3 {
	font-family: 'Pretendard', sans-serif;
	font-weight: 700;
	font-size: 35px
}
h4, h5 {
	font-family: 'Pretendard', sans-serif;
	font-weight:600;
	font-size: 25px
}
h6 {
	font-family: 'Pretendard', sans-serif;
	font-weight:500;
	font-size: 20px;
	/* margin: 0px 0px 10px; */

}
.white {
	color:#ffffff !important;
	font-family: 'Pretendard', sans-serif;
}
.black {
	color:#000000;
}

.navbar {
	position: fixed;
	right: 0;
	left: 0;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	min-height: 50px;
	line-height: 50px;
	background: transparent;
	z-index: 1030;
}
.navbar .active {
	color: #5786FF !important;
}
.navbar .navbar-brand {
	max-width: 120px;
}
.navbar .navbar-brand img {
	-webkit-transform: scale(1); /* 초기 크기를 명시적으로 설정 */
	transform: scale(1);
	transition: none; /* 새로고침 시 애니메이션 방지 */
	max-width: 120px; /* 크기를 고정 */
}


.navbar .nav-item {
	margin: 10px 10px;
	padding: 0;
}
.navbar .nav-item a {
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 13px;
	font-family: 'Pretendard', sans-serif;
}
.navbar .nav-item a:hover {
	color: #5786FF;
}
.navbar .nav-link {
	position: relative;
	padding: 0;
}
.navbar .navbar-toggler {
	cursor: pointer;
}
.navbar .navbar-toggler span {
	color: #5786FF;
}
.navbar-style2 .active:after, .navbar-style2 .nav-link:after {
	display: none;
}
.nav-scroll {
	background: #100F16;
	-webkit-box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.0509803922);
	box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.0509803922);
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}
.nav-scroll .navbar-nav > li > a {
	color: #fff;
}
.navbar-brand img {
    width: 120px; /* 고정된 너비 */
    height: auto; /* 비율 유지 */
    transition: none; /* 애니메이션 제거 */
}

.nav-scroll .navbar-brand img {
    width: 120px; /* 스크롤 시에도 동일한 크기 */
    height: auto; /* 비율 유지 */
}
.nav-scroll .navbar-toggler {
	cursor: pointer;
}
.nav-scroll .navbar-toggler span {
	color: #100F16;
}
.nav-scroll .nav-link:hover:after {
	background-color: #2388ed;
}
.nav-scroll .active {
	position: relative;
}
.banner {
	background: #100F16;
	/* background: linear-gradient(to left, #100F16, #000000); */
	padding:140px 0px 200px 0px;
	position:relative;
}
.banner::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/* background: url(images/pattern.png); */
}
.banner a.weblink {
	color:#ffffff;
	border-bottom:1px dotted #5786FF;
}
.banner a:hover {
	text-decoration:none;
}
.svg-wave {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.banner-text {
	padding-right: 0;
	margin:45px 0px 0px;
}
.banner-text p {
	margin:30px 0px;
}
.banner-text ul {
	list-style: none;
}
.banner-text ul li {
	display: inline-block;
	margin: 0px 10px 0px 0px;
}
.banner-text ul li a {
	display: block;
}
.banner-text ul li a img {
	width: 100px;
	border-radius: 7px;
}
.prelative {
	position:relative
}
.section-padding {
	padding:90px 0px 60px;
}
.sectioner-header {
	width:69%;
	margin: 0 auto;
}
.line {
	height: 2px;
	width: 50px;
	background: #376FFF;
	display: block;
	margin: 20px auto 20px;
}
.line::after {
	content:"";
	position: absolute;
	left: 50%;
	width: 150px;
	height: 2px;
	border-bottom: 2px dashed #376FFF;
	margin-left: -75px;
}
.sectioner-header p {
	color:#818992;
	font-size: 17px;
}
.section-content {
	margin-top: 50px;
}
.icon-box {
	margin-bottom:50px;
}
.icon-box i {
	display: block;
	position: relative;
	width: 135px;
	height: 135px;
	border-radius: 100px;
	background: #100F16;
	/* background:  linear-gradient(to left, #100F16, #100F16); */
	color: #ffffff;
	font-size: 50px;
	line-height: 135px;
	margin: 0 auto;
}
.icon-box h5 {
	margin-top:30px;
}
.icon-box p {
	color: #818992;
	font-size: 14px;
	width: 80%;
	margin: 0 auto;
}
.about-btn {
	color: #376FFF;
	padding: 10px 40px;
	border: 2px solid #376FFF;
	border-radius: 7px;
	margin-top: 30px;
	display: inline-block;
	font-size: 18px;
}
.about-btn:hover {
	background:#376FFF;
	color:#ffffff;
	text-decoration:none;
}
.video-section {
	/* background: url(images/video-bg.png) no-repeat fixed center; */
	/* background: url(images/pattern.png); */
	background-size: cover;
	overflow: hidden;
}
.video-overlay {
	background: linear-gradient(to left, #100F16, #100F16);
}
.video-section h3 {
	font-weight: 600;
	font-size: 38px;
}
.video-section i {
	display: block;
	position: relative;
	width: 70px;
	height: 70px;
	border-radius: 100px;
	background: #ffffff;
	color: #376FFF;
	font-size: 30px;
	line-height: 70px;
	margin: 0 auto;
	cursor:pointer;
}
.video-popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background: rgba(0, 0, 0, 0.5);
	display: none;
	align-content: center !important;
	-ms-flex-line-pack: center !important;
	-ms-flex-align: center !important;
	align-items: center !important;
	-ms-flex-pack: center !important;
	justify-content: center !important;
}
.video-popup .video-src {
	position: relative;
	width: 700px;
	max-width: 80%;
}
.video-popup .iframe-src {
	width: 100%;
	height: 0;
	padding-top: 110px;
	position: relative;
	display: none;
}
.video-popup .iframe-src iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.single-feature {
	margin-bottom: 60px;
	margin-top: 60px;
}
.single-feature h5 {
	font-size: 16px;
}
.media-right-margin {
	margin-right:25px;
}
.single-feature p {
	font-size: 13px;
}
.icon-border {
    display: flex; /* 추가: 이미지를 정렬하는 데 필요 */
    align-items: center; /* 추가: 수직 가운데 정렬 */
    justify-content: center; /* 추가: 수평 가운데 정렬 */
    width: 60px; /* 적절한 크기로 설정 */
    height: 60px;
    margin: 10 10 10 10; /* 가운데 정렬 */
}
 


.icon-border span {
	display: block;
	position: relative;
	width: 50px;
	height: 50px;
	border-radius: 100px;
	color: #376FFF;
	font-size: 18px;
	line-height: 50px;
	border: 1px solid #376FFF;
}
.team {
	background: #fafafa;
	border-top: 1px solid #e4e4e4;
}
.team-detail {
	margin-top:50px;
	margin-bottom: 50px;
}
.team-detail img {
	border-radius: 50%;
	width: 75;
}
.team-detail h4 {
	color:#376FFF;
	margin-top: 20px;
	font-size: 17px;
	margin-bottom: 0px;
}
.testimonial {
	background: #100F16;
	padding:110px 0px 80px 0px;
	position:relative;
}
.testimonial::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/* background: url(images/pattern.png); */
}
.bx-prev {
	left: -90px !important;
	background: url(images/arrow-left.png) no-repeat !important;
	background-size: auto auto !important;
	background-size: 100% 100% !important;
}
.bx-next {
	right: -90px !important;
	background: url(images/arrow-right.png) no-repeat !important;
	background-size: auto auto !important;
	background-size: 100% 100% !important;
}
.bx-wrapper {
	border: none !important;
	background: rgba(255, 255, 255, 0.81) !important;
	border-radius: 5px !important;
	box-shadow:none !important;
}
.slider-item {
	padding:20px;
}
.slider .test-img img {
	border: 0px solid #fff;
	border-radius: 50%;
	width: 100%;
	height: auto;
}
.test-img {
	float: left;
	width: 19%;
	margin-left: 1%;
	margin-right:3%;
}
.test-text {
	float: center;
	width: 100%;
}
.slider .title {
	display: block;
	position: relative;
	margin: 8px 0 18px;
	font-size: 1.3em;
	line-height: 1.25;
	font-family: 'Pretendard', sans-serif;
}
.slider .title span {
	display: block;
	font-size: 1.5em;
	font-weight: 700;
	font-family: 'Pretendard', sans-serif;
}
.faq {
	background: #fafafa;
	border-bottom: 1px solid #e4e4e4;
}
.faq-content {
	margin: 20px 0px;
}
.faq-content h4 {
	font-weight: 400;
	font-size: 20px;
	font-family: 'Pretendard', sans-serif;
}
.faq-content p {
	color: #818992;
	font-weight:300;
	margin-top:15px;
	font-family: 'Pretendard', sans-serif;
}
#contact_form .form-input {
	border: 1px solid #e4e4e4;
}
input {
	height: 42px;
	padding: 0 1rem;
	background: #fff;
	border-radius: 30px;
	margin-bottom: 1rem;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border:0;
}
#contact_form textarea {
	resize: none;
	padding: 1rem;
	height: 150px;
	background: #fff;
	border: 0;
	border-radius: 30px;
	margin-bottom: 1rem;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.btn-grad {
 padding: .7rem 2rem;
	display: inline-block;
	color: #fff;
	border-radius: 2rem;
	border: 0;
	background: #100F16;
	cursor:pointer;
}
.contact-info {
	padding: 2rem 2rem 1rem;
	border-radius: 8px;
	background: #100F16;
	background: linear-gradient(to right, #100F16, #100F16);
	gap: 20px;
}
.contact-item {
	display: flex; 
	align-items: center;
	justify-content: space-between;
	margin:20px 8px;
}

.contact-item .media-body {
	flex: 10; /* 텍스트 영역을 최대한 늘림 */
	text-align: left; /* 텍스트를 왼쪽 정렬 */
  }
.contact-item i {
	font-size: 24px; /* 아이콘 크기 */
	margin-left: 15px; /* 텍스트와 아이콘 사이의 간격 */
	text-align: left; /* 아이콘 오른쪽 정렬 */
	display: column;
	align-items: left; /* 아이콘 세로 중앙 정렬 */
  }
  
.contact-item .media-body {
	display: flex;
	flex-direction: column; /* 텍스트를 세로 정렬 */
	justify-content: center; /* 텍스트를 세로 중앙 정렬 */
	text-align: left; /* 텍스트를 왼쪽 정렬 */
  }

.contact-text {
	display: flex;
	flex-direction: column; /* 텍스트들 세로 정렬 */
	text-align: left;
  }

.contact-item p {
	line-height: 20px;
	margin: 0;
}
.download {
	background: #100F16;
	padding:80px 0px;
	position:relative;
}
.download::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/* background: url(images/pattern.png); */
}
.download ul {
	list-style: none;
}
.download ul li {
	display: inline-block;
	margin: 0px 10px 10px 0px;
}
.download ul li a {
	display: block;
}
.download ul li a img {
	width: 150px;
	border-radius: 7px;
}
.footer-copy {
	background: #ffffff;
	color: #242424;
	font-size: 13px;
	text-align: center;
	padding:15px 0px;
}
.footer-copy p {
	margin-bottom:0px;
}
@media all and (max-width:80px) {
.navbar .navbar-collapse {
	overflow: auto;
	background:  rgb(213, 198, 221);
	color: #fff !important;
	text-align: center;
	padding: 10px 0;
}
.nav-scroll .navbar-collapse {
	background: #fff !important;
}
#contact_form {
	margin-bottom:30px;
}
}
@media all and (max-width:80x) {
.nav-scroll .navbar-brand img, .navbar-brand img {
	transform: scale(0.75) !important;
	-webkit-transform: scale(0.75) !important;
}
.banner-text {
	padding: 100% 0px 100% 0px;
	margin: 10px 0px 0px;
}
h2 {
	font-size: 50px;
}
h3 {
	font-size: 30px;
}
.section-padding {
	padding: 100% 0px 100% 0px;
}
.banner-text p {
	margin: 20px 0px;
	font-size: 50px;
}
.banner-text ul li a img {
	width: 120px;
	border-radius: 7px;
}
.sectioner-header {
	width: 100%;
	/* padding: ; */
}
.sectioner-header p {
	font-size: 14px;
}
.about-btn {
	padding: 5px 30px;
	margin-top: 0px;
	font-size: 16px;
}
.single-feature {
	margin-bottom: 20px;
	margin-top: 20px;
}
.team-detail {
	margin-top: 20px;
}
.team-detail img {
	width: 50%;
}
.bx-controls
{
	display:none;
}
.bx-wrapper {
	margin: 0px 20px !important;
}
.slider .test-img img {
	margin: 0 auto;
}
.test-img {
	float:none;
	width: 200px;
	height: 200px;
	margin: 0 auto;
}
.test-text {
	float: none;
	width: 100%;
	text-align: center;
	/* text-align: center; */
}
.section-content {
	margin-top: 10px;
}
.faq-content {
	margin: 10px 0px;
}
.faq-content h4 {
	font-size: 16px;
}
.faq-content p {
	font-size: 13px;
}
#contact_form {
	margin-bottom:20px;
}
.contact-item {
	font-size: 12px;
}
.download ul li a img {
	width: 120px;
}
.footer-copy p {
	font-size: 10px;
}
}
